@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap");
@import url("https://fonts.cdnfonts.com/css/sf-pro-display");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "SF Pro Display", "Open Sans", sans-serif;
    @apply flex  text-sm text-gray-800 leading-6;
  }

  button,
  img {
    @apply outline-none focus:outline-none !important;
  }
}

#__next {
  @apply w-full;
}

.MuiTab-wrapper {
  align-items: flex-start !important;
}

.sidebar button {
  font-size: 16px;
  text-transform: capitalize;
  margin-top: 8px;
  opacity: 1;
  padding: 10px 20px;
  border-radius: 16px;
  transition: 0.3s;
}
.sidebar button:hover{
  transition: 0.3s;
  color: #1c212d;
  background-color: #ffd831;
}
